@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

a { color: #2E8CFA; }
a:link { color: #2E8CFA; }
a:visited { color: #2E8CFA; }
a:hover { color: #2E8CFA; }
a:active { color: #2E8CFA; }

blockquote {
  border-left: 4px solid #2E8CFA;
  margin-left: 0px;
  padding-left: 15px;
  margin-right: 0px;
}

.switcher {
  width: 150px;
  position: fixed;
  top: 20px;
  left: 10px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 15px;
}

.switcher .switch-toggle {
  margin-bottom: 10px;
}

.container {
  width: 840px;
  margin: 80px auto;
}

.editor {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: normal;
  width: 100%;
  height: 760px;
  line-height: normal;
  outline: none;
}

.hide {
  display: none;
}

input[type=text] {
  width: 100%;
  /*height: 50px;*/
  padding: 30px;
}