.box{
	padding: 20px;
	text-align: center;
	margin: 10px;
	box-shadow: 5px 5px 5px #000;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.row {
	align-content: center;
}