html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.la-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.la-layout .la-header .mdl-textfield {
  padding-top: 27px;
}
.la-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.la-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.la-drawer .mdl-menu__container {
  z-index: -1;
}
.la-drawer .la-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.la-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.la-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.la-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.la-navigation {
  flex-grow: 1;
}
.la-layout .la-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.la-layout .la-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.la-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.la-content {
  max-width: 1080px;
}

.la-charts {
  align-items: center;
}
.la-chart:nth-child(1) {
  color: #ACEC00;
}
.la-chart:nth-child(2) {
  color: #00BBD6;
}
.la-chart:nth-child(3) {
  color: #BA65C9;
}
.la-chart:nth-child(4) {
  color: #EF3C79;
}
.la-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .la-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .la-graph {
  max-height: 300px;
}
/* TODO end */
.la-graph:nth-child(1) {
  color: #00b9d8;
}
.la-graph:nth-child(2) {
  color: #d9006e;
}

.la-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.la-cards .la-separator {
  height: 32px;
}
.la-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.la-cards ul {
  padding: 0;
}
.la-cards h3 {
  font-size: 1em;
}
.la-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.la-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.la-options h3 {
  margin: 0;
}
.la-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.la-options ul {
  margin: 0;
  list-style-type: none;
}
.la-options li {
  margin: 4px 0;
}
.la-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.la-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

/* Show load indicator when image is being loaded */
.cropit-image-preview.cropit-image-loading .spinner {
  opacity: 1;
}

/* Show move cursor when image has been loaded */
.cropit-image-preview.cropit-image-loaded {
  cursor: move;
}

/* Gray out zoom slider when the image cannot be zoomed */
.cropit-image-zoom-input[disabled] {
  opacity: .2;
}

/* Hide default file input button if you want to use a custom button */
input.cropit-image-input {
  visibility: hidden;
}

/* The following styles are only relevant to when background image is enabled */

/* Translucent background image */
.cropit-image-background {
  opacity: .1;
}

/* Style the background image differently when preview area is hovered */
.cropit-image-background.cropit-preview-hovered {
  opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use non-static position on it
 */
input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;
}